@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@200;300;500&display=swap");

* {
  font-family: "Montserrat";
  color: wheat;
}

body {
  background-color: #c8544b;
}

.main-title {
  text-align: center;
}

.pizza-img {
  width: 48px;
  margin: 20px;
}

.title-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pizza-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}

label {
  margin-bottom: 16px;
  margin-top: 16px;
}

#tamaño > input {
  margin-left: 8px;
  margin-right: 8px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  padding: 10px;
  color: black;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

#ingrediente {
  display: flex;
  flex-direction: column;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

button {
  width: 45%;
  background-color: wheat;
  color: #c8544b;
  padding: 8px;
  cursor: pointer;
}

button:hover {
  font-weight: 700;
}
